
{% for post in site.categories.publications %} <!-- change to publication-->
<div class="excerpt-container">
  <!-- <div style="width: 55%; float:left; padding-right:5px"> -->
    <article>
      {% include meta.html post=post preview=True %}
      <div class="side-by-side">
        <div style="width: 50%; float:left; padding-right:5px; margin-right:5px">
          {{ post.excerpt }}
          <div class="more"><a href="{{ post.url | relative_url }}">Read more</a></div>
        </div>
        <div style="width: 45%; float:right; padding-left:5px; margin-left:5px">
          <div class="img-container">
            <img src="{{ sites.url }}/resources/publications/{{ post.img }}" style="float: center; width:100%; height:auto; border-radius: 15px; padding:5px"/>
          </div>
        </div>
      </div>

      
    </article>
  <!-- </div>
  <div style="width: 45%; float:right"> -->
  <!-- </div> -->
</div>
{% endfor %}


{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
